@charset "UTF-8";
/* ---------------------------------------------------------------------- */
/*  Scrollbar
/* ---------------------------------------------------------------------- */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--border-color);
}

*::-webkit-scrollbar-thumb {
  background-color: #bfc4cc;
  border-radius: 20px;
  border: 0 solid var(--border-color);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f3f4f6;
}

/* ---------------------------------------------------------------------- */
/*  CSS Common
/* ---------------------------------------------------------------------- */
* {
  word-break: keep-all;
}

hr.divider {
  margin: 40px 0;
}

br.spacer {
  content: "";
  display: block;
  height: 40px;
}

.container-fixed {
  position: relative;
  width: 1400px;
  min-width: 1400px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.input-group [class^=ri-] {
  font-size: 0.875rem;
}

.rounded-pill.btn-xs {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.btn-icon [class^=ri-] {
  font-size: 0.875rem;
}

.required::after {
  content: "*";
  color: #dc3545;
  margin-left: 0.25rem;
}

.th-required,
.form-required {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 16 16' fill='%23efd400' stroke='none'%3E%3Cpolygon points='0 16 0 0 16 0 0 16'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.th-required.form-check,
.form-required.form-check {
  padding-top: 2px;
  padding-left: 25px;
}

.form-check-required {
  position: relative;
}
.form-check-required::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 16 16' fill='%23efd400' stroke='none'%3E%3Cpolygon points='0 16 0 0 16 0 0 16'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: absolute;
  top: -2px;
  left: -4px;
}

.custom-file {
  position: relative;
  display: flex;
}
.custom-file::before {
  content: "";
  display: block;
  flex: 1 1 0;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}
.custom-file > input[type=file] {
  position: absolute;
  z-index: 2;
  width: calc(100% - 68px);
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: transparent;
  border-color: transparent;
}
.custom-file > input[type=file]::-webkit-selector-button, .custom-file > input[type=file]::-webkit-file-upload-button {
  display: none;
}
.custom-file > .btn {
  margin-left: 0.5rem;
}

.w-xs {
  width: 60px !important;
}

.w-sm {
  width: 80px !important;
}

.w-md {
  width: 120px !important;
}

.w-lg {
  width: 140px !important;
}

.w-date {
  width: 112px !important;
}

.w-date-time {
  width: 146px !important;
}

.w-range {
  width: 190px !important;
}

.logo img {
  width: 140px;
  max-width: 100%;
}

/* ---------------------------------------------------------------------- */
/*  Layout
/* ---------------------------------------------------------------------- */
#layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: relative;
  z-index: 100;
  width: 100%;
  bottom: auto;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid var(--bs-border-color);
}
.header .app-top {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0.25rem 0;
  background-color: #396684;
  border-bottom: 1px solid var(--bs-border-color);
}
.header .app-top .container-fixed {
  justify-content: center;
}
.header .app-top .util {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header .app-top .util .user-info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header .app-top .util .user-info .user {
  font-size: 0.75rem;
  margin-right: 0.25rem;
}
.header .container-fixed {
  display: flex;
  flex-direction: row;
}

.app-navbar {
  background-color: white;
}
.app-navbar .navbar-brand {
  display: flex;
  align-items: center;
}
.app-navbar .gnb {
  margin: 0 auto;
}
.app-navbar .gnb .navbar-nav > .nav-item {
  position: relative;
}
.app-navbar .gnb .navbar-nav > .nav-item:hover {
  color: var(--bs-secondary);
}
.app-navbar .gnb .navbar-nav > .nav-item:hover .dropdown-nav {
  display: block;
}
.app-navbar .gnb .navbar-nav > .nav-item > .nav-link {
  font-size: 0.875rem;
  color: inherit;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}
.app-navbar .gnb .navbar-nav > .nav-item > .nav-link [class^=ri-] {
  font-size: 18px;
  display: inline-block;
  margin-right: 0.375rem;
}
.app-navbar .gnb .navbar-nav > .nav-item.active .nav-link {
  color: var(--bs-secondary);
  box-shadow: inset 0 -2px 0 var(--bs-secondary);
}
.app-navbar .nav-date {
  display: flex;
  align-items: center;
}
.app-navbar .nav-date span {
  font-size: 0.75rem;
  color: var(--bs-secondary);
  display: inline-flex;
  align-items: center;
  padding: 2px 12px;
  border: 1px solid var(--bs-border-color);
  border-radius: 3.25rem;
  background-color: var(--bs-bg-color);
}
.app-navbar .nav-date span [class^=ri-] {
  color: var(--bs-secondary);
  margin-right: 0.125rem;
}

.dropdown-nav {
  display: none;
  position: absolute;
  top: 59px;
  left: 1rem;
  min-width: 110px;
  background-color: white;
  border: 1px solid #396684;
  border-radius: var(--bs-border-radius);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
}
.dropdown-nav > .nav-item {
  position: relative;
  color: var(--bs-body-color);
  transition: all 0.2s ease;
}
.dropdown-nav > .nav-item:not(:first-child) {
  border-top: 1px solid var(--bs-border-color);
}
.dropdown-nav > .nav-item:hover {
  color: var(--bs-secondary);
  background-color: #f4faff;
}
.dropdown-nav > .nav-item:hover .dropdown-nav-sub {
  display: block;
}
.dropdown-nav > .nav-item:hover .dropdown-nav-sub.dropdown-sub-dm {
  top: -148px;
}
.dropdown-nav > .nav-item:hover .dropdown-nav-sub.dropdown-sub-sms {
  top: -31px;
}
.dropdown-nav > .nav-item:hover .dropdown-nav-sub.dropdown-sub-kamco {
  top: -60px;
}
.dropdown-nav > .nav-item:hover .dropdown-nav-sub.dropdown-sub-wooricard {
  top: -206px;
}
.dropdown-nav > .nav-item:hover .dropdown-nav-sub.dropdown-sub-kcb {
  top: -89px;
}
.dropdown-nav > .nav-item:hover .dropdown-nav-sub.dropdown-sub-nice {
  top: -89px;
}
.dropdown-nav > .nav-item:hover .dropdown-nav-sub.dropdown-sub-payletter {
  top: -30px;
}
.dropdown-nav > .nav-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.dropdown-nav > .nav-item:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.dropdown-nav > .nav-item > .nav-link {
  position: relative;
  font-size: 0.75rem;
  color: inherit;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.325rem 0.5rem;
}
.dropdown-nav > .nav-item > .nav-link::before {
  content: "\eceb";
  font-family: "remixicon";
  font-size: 0.75rem;
  line-height: 1;
  position: relative;
  top: 1px;
  margin-right: 0.125rem;
}
.dropdown-nav > .nav-item > .nav-link[data-icon=true]:after {
  content: "\ea6e";
  font-family: "remixicon";
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
  margin-left: auto;
  transform: translateX(4px);
}

.dropdown-nav-sub {
  display: none;
  position: absolute;
  top: -1px;
  left: 100%;
  min-width: 110px;
  background-color: white;
  border: 1px solid #396684;
  border-radius: var(--bs-border-radius);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
}
.dropdown-nav-sub > .nav-item {
  position: relative;
  color: var(--bs-body-color);
}
.dropdown-nav-sub > .nav-item:not(:first-child) {
  border-top: 1px solid var(--bs-border-color);
}
.dropdown-nav-sub > .nav-item:hover {
  color: var(--bs-secondary);
  background-color: #f4faff;
}
.dropdown-nav-sub > .nav-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.dropdown-nav-sub > .nav-item:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.dropdown-nav-sub > .nav-item > .nav-link {
  position: relative;
  font-size: 0.75rem;
  color: inherit;
  white-space: nowrap;
  letter-spacing: -0.5px;
  display: flex;
  align-items: center;
  padding: 0.325rem 0.625rem;
  padding-left: 12px;
}
.dropdown-nav-sub > .nav-item > .nav-link::before {
  content: "";
  display: inline-block;
  min-width: 3px;
  height: 1px;
  background-color: #666;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 13px;
  left: 6px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}
.main-content .page-content {
  display: flex;
  flex: 1 1 0;
  padding-top: 1rem;
  background-color: var(--bs-bg-color);
}
.main-content .page-content .container-fixed {
  display: flex;
}
.main-content .page-content .container-fixed .lnb {
  position: relative;
  width: 200px;
  align-self: flex-start;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: #396684;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}
.main-content .page-content .container-fixed .lnb .lnb-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 126px;
  z-index: 10;
  padding: 2px;
}
.main-content .page-content .container-fixed .lnb .lnb-inner .lnb-header {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 2px;
}
.main-content .page-content .container-fixed .lnb .lnb-inner .lnb-header h2 {
  font-size: 0.875rem;
  color: white;
  margin-bottom: 0;
}
.main-content .page-content .container-fixed .lnb .lnb-inner .lnb-header .input-group {
  margin-left: 0.5rem;
}
.main-content .page-content .container-fixed .lnb .lnb-inner .lnb-menu {
  padding: 4px 0;
  margin-bottom: 0;
  background-color: white;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}
.main-content .page-content .container-fixed .lnb .lnb-inner .lnb-menu > .nav-item > .nav-link {
  position: relative;
  padding: 0.325rem 0.5rem;
  display: flex;
  align-items: center;
}
.main-content .page-content .container-fixed .lnb .lnb-inner .lnb-menu > .nav-item > .nav-link::before {
  content: "\eceb";
  font-family: "remixicon";
  position: relative;
  top: 1px;
  margin-right: 0.125rem;
}
.main-content .page-content .container-fixed .lnb .lnb-inner .lnb-menu > .nav-item > .nav-link:hover {
  color: var(--bs-secondary);
}
.main-content .page-content .container-fixed .lnb .lnb-inner .lnb-menu > .nav-item > .nav-link[data-bs-toggle=collapse]:after {
  content: "\ea6e";
  font-family: "remixicon";
  font-size: 1rem;
  font-weight: normal;
  display: block;
  margin-left: auto;
  transition: transform 0.2s;
  position: absolute;
  top: 3px;
  right: 6px;
}
.main-content .page-content .container-fixed .lnb .lnb-inner .lnb-menu > .nav-item > .nav-link[data-bs-toggle=collapse][aria-expanded=true]:after {
  transform: rotate(90deg);
}
.main-content .page-content .container-fixed .lnb .lnb-inner .lnb-menu > .nav-item > .nav-link.collapsed.active::after {
  transform: rotate(90deg);
}
.main-content .page-content .container-fixed .lnb .lnb-inner .lnb-sub {
  padding: 0.25rem 0;
  margin: 0.25rem 0.5rem;
  background-color: var(--bs-bg-color);
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}
.main-content .page-content .container-fixed .lnb .lnb-inner .lnb-sub > .nav-item > .nav-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  padding-left: 16px;
  white-space: normal;
  letter-spacing: -0.5px;
}
.main-content .page-content .container-fixed .lnb .lnb-inner .lnb-sub > .nav-item > .nav-link::before {
  content: "";
  display: inline-block;
  min-width: 4px;
  height: 1px;
  margin-right: 3px;
  background-color: #666;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 12px;
  left: 8px;
}
.main-content .page-content .container-fixed .content {
  flex: 1 1 0;
  padding: 1rem;
  margin-right: -1rem;
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}
.main-content .page-content .container-fixed > .row {
  flex-grow: 1;
}
.main-content .page-content .container-fixed > .row [class^=col-] {
  display: flex;
  flex-direction: column;
}

.doc-box {
  position: relative;
  width: 280px;
  display: flex;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}
.doc-box .doc-box-inner {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
.doc-box .doc-box-tit {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.doc-box .doc-box-btns {
  text-align: center;
  padding-top: 1rem;
  margin-top: auto;
}

.footer {
  text-align: center;
  padding: 10px 0.5rem;
  background-color: white;
  border-top: 1px solid var(--bs-border-color);
}

/* ---------------------------------------------------------------------- */
/*  Login
/* ---------------------------------------------------------------------- */
.login-wrap {
  display: flex;
  align-items: center;
  height: 100vh;
}

.login {
  margin: auto;
  width: 480px;
}
.login .card {
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.03);
}
.login .card-body {
  padding: 2rem;
}

.login-b {
  background-image: linear-gradient(to top, rgb(255, 241, 235) 0%, rgb(172, 224, 249) 100%);
}
.login-b .login {
  width: 840px;
}
.login-b .login .card {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px) opacity(1);
  border-color: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 10px 25px rgba(0, 0, 0, 0.05);
}
.login-b .login .card .ans-header {
  border-bottom-color: white;
}
.login-b .login .card .foot {
  background-color: transparent;
  border-top: 0;
}
.login-b .login .card .img-bg {
  background: url(../images/login_bg2.jpg) no-repeat center center;
  background-size: cover;
}

.ans-header {
  display: flex;
  align-items: flex-end;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--bs-border-color);
}
.ans-header > p {
  font-size: 0.75rem;
  color: var(--bs-secondary-color);
  margin-left: auto;
  margin-bottom: 0;
  transform: translateY(2px);
}

.foot {
  padding: 1.5rem 2rem;
}
.foot .foot-logo {
  width: 140px;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.foot .foot-logo img {
  max-width: 100%;
}
.foot .foot-desc {
  margin-bottom: 0.125rem;
}
.foot .foot-contact {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
.foot .foot-contact > *:not(:first-child) {
  display: inline-block;
  margin-left: 0.75rem;
}
.foot .foot-link {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 1rem;
}
.foot .copyright {
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: 0.5px;
}

/* ---------------------------------------------------------------------- */
/*  Content
/* ---------------------------------------------------------------------- */
.page-header {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.page-header-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.page-header-wrap .page-header {
  margin-bottom: 0;
}
.page-header-wrap .btns {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-left: auto;
}

.search-items {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.modal-popup {
  display: block;
  opacity: 1;
}
.modal-popup .top-menu {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
}
.modal-popup .top-menu .button-group {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.modal-popup .top-menu .button-group:not(:first-child) {
  margin-left: 0.5rem;
}
.modal-popup .top-menu .button-group:not(:first-child)::before {
  content: "";
  width: 1px;
  height: 20px;
  display: inline-block;
  margin-right: 0.25rem;
  background-color: #d3d8de;
}
.modal-popup .top-menu .button-group .btn-default {
  --bs-btn-bg: var(--bs-btn-hover-bg);
  --bs-btn-border-color: var(--bs-btn-hover-bg);
}
.modal-popup .top-menu .button-group-dropdown {
  display: inline-block;
}
.modal-popup .top-menu .button-group-dropdown > .dropdown-toggle.show {
  color: white;
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}
.modal-popup .top-menu .button-group-dropdown > .dropdown-menu {
  gap: 0.25rem;
  flex-wrap: nowrap;
  padding: 0.5rem;
}
.modal-popup .top-menu .button-group-dropdown > .dropdown-menu.show {
  display: flex;
}

.popup-h {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.popup-h.popup-h-divider {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--bs-border-color);
}
.popup-h .popup-title {
  font-size: 1rem;
  margin-bottom: 0;
}
.popup-h .btns {
  margin-left: auto;
}

.h-3 {
  font-size: 0.9375rem;
  line-height: 1.7;
  margin-bottom: 0.5rem;
}

.h-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.h-wrap .h-3 {
  margin-bottom: 0;
}
.h-wrap .btns {
  margin-left: auto;
}

.quick-link {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.25rem;
}
.quick-link .btn {
  position: relative;
}

.quick-nav {
  position: absolute;
  top: 0px;
  right: -40px;
}
.quick-nav > .btn {
  font-size: 1.25rem;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 0;
}
.quick-nav > .btn [class^=ri-] {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
.quick-nav > .btn:not(.collapsed) {
  background-color: #a9b3bd;
}
.quick-nav > .btn:not(.collapsed) [class^=ri-] {
  transform: rotate(45deg);
}
.quick-nav .quick-box {
  position: absolute;
  z-index: 2;
  right: 0;
  width: 130px;
  margin-top: 0.5rem;
}
.quick-nav .quick-box .quick-menu {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.25rem;
  padding: 0.325rem;
  background-color: #f5faf0;
  border: 1px solid #c2e49d;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);
}

.table-form {
  table-layout: fixed;
  border-top-color: var(--bs-border-color);
}
.table-form > tbody > tr > th {
  background-color: #edf3f7;
}

.panel {
  display: block;
  margin-bottom: 1rem;
}
.panel .tab-content {
  border: 1px solid var(--bs-border-color);
  border-top: 0;
  border-bottom-left-radius: 0.325rem;
  border-bottom-right-radius: 0.325rem;
  background-color: white;
}
.panel .tab-content > .tab-pane {
  padding: 1rem;
}

.main-card {
  height: 100%;
}
.main-card .card-body {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.main-card .tab-content > .tab-pane {
  padding: 0;
}

.profile-wrap {
  display: flex;
}
.profile-wrap > .profile-card {
  width: 180px;
  margin-right: 1rem;
  margin-bottom: 0;
  box-shadow: 0px 12px 20px -12px rgba(0, 0, 0, 0.2);
}
.profile-wrap > .profile-card .tit {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.profile-wrap > .profile-card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-wrap > .profile-card .picture {
  text-align: center;
  margin-bottom: 0;
}
.profile-wrap > .profile-card .card-footer {
  text-align: center;
}
.profile-wrap > .row {
  flex: 1 1 0;
}

.sitemap .main-card {
  height: auto;
}
.sitemap .sitemap-tit {
  font-size: 0.875rem;
  color: #396684;
  display: flex;
  align-items: center;
  padding: 0.375rem 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #f6f7f8;
  border: 1px solid var(--bs-border-color);
  border-radius: 0.25rem;
}
.sitemap .sitemap-tit::before {
  content: "\ed52";
  font-family: "remixicon";
  font-size: 1rem;
  font-weight: 400;
  margin-right: 0.125rem;
}
.sitemap .sitemap-subtit {
  font-size: 0.8125rem;
  padding-left: 10px;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid var(--bs-border-color);
}
.sitemap .sitemap-item {
  display: flex;
  flex-wrap: wrap;
  padding-left: 6px;
  margin-bottom: 0;
}
.sitemap .sitemap-item > li {
  width: 25%;
}
.sitemap .sitemap-item > li > a {
  display: flex;
  align-items: center;
}
.sitemap .sitemap-item > li > a::before {
  content: "\ea54";
  font-family: "remixicon";
  font-size: 1rem;
  vertical-align: middle;
}
.sitemap .sitemap-item > li > a:hover {
  color: var(--bs-secondary);
}

.tab-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.tab-list > li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
  padding-left: 14px;
}
.tab-list > li::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: var(--bs-primary);
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 4px;
}
.tab-list > li .nav-link {
  flex: 1 1 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab-list > li .nav-link:hover {
  color: var(--bs-secondary);
}
.tab-list > li .writer {
  width: 140px;
  text-align: left;
  margin-left: auto;
}
.tab-list > li .date {
  width: 68px;
  text-align: right;
  margin-left: auto;
}

.card-header em {
  font-size: 0.875rem;
  color: #333;
  font-weight: bold;
  line-height: 32px;
}
.card-header .nav-underline {
  margin-bottom: -6px;
}

.card-title em {
  font-size: 0.875rem;
  color: #333;
  font-weight: bold;
}

.status {
  display: flex;
  gap: 0.5rem;
}
.status .status-item {
  width: 20%;
  text-align: center;
}
.status .status-item > span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.status .status-item > span > [class^=ri-] {
  margin-right: 0.125rem;
  display: none;
}
.status .status-item > em {
  font-weight: 700;
  display: block;
  padding: 0.25rem 0;
  margin-top: 0.25rem;
  background-color: var(--bs-bg-color);
  border: 1px solid var(--bs-border-color);
  border-radius: 0.325rem;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 87px;
}

.no-data {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.arr-list {
  margin-bottom: 0.25rem;
}
.arr-list > li {
  text-indent: -12px;
  padding-left: 12px;
}
.arr-list > li::before {
  content: "▶";
  font-size: 0.5rem;
  color: var(--bs-secondary);
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 0.25rem;
}
.arr-list > li.text-danger::before {
  color: var(--bs-danger);
}
.arr-list > li p {
  font-size: 0.8125rem;
  text-indent: -4px;
  margin-bottom: 0.25rem;
}

.text-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1rem;
}
.text-list > li {
  position: relative;
  padding-left: 0.625rem;
  margin-bottom: 0.25rem;
}
.text-list > li::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #b7b7b7;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 0px;
}

.sign-area {
  height: 58px;
}

.form-select[multiple] {
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.multi-select {
  display: flex;
}
.multi-select .multi-select-left {
  flex: 1 1 0;
  padding-right: 16px;
}
.multi-select .multi-select-left .search-items {
  display: flex;
  justify-content: center;
}
.multi-select .multi-select-right {
  position: relative;
  padding-top: 8px;
  padding-left: 116px;
}
.multi-select .form-group {
  margin-bottom: 40px;
}
.multi-select .form-group .form-label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}
.multi-select .multi-select-form {
  position: relative;
  margin-bottom: 40px;
}
.multi-select .multi-select-form .multi-select-group {
  display: flex;
  align-items: center;
}
.multi-select .multi-select-form .multi-select-group .up-down {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 4px;
}
.multi-select .multi-select-form .multi-select-group .up-down [class^=ri-].up {
  transform: rotate(-90deg);
}
.multi-select .multi-select-form .multi-select-group .up-down [class^=ri-].down {
  transform: rotate(90deg);
}
.multi-select .multi-control {
  position: absolute;
  top: 0px;
  left: -116px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100px;
}

.numInputWrapper .arrowUp,
.numInputWrapper .arrowDown {
  display: none;
}
.numInputWrapper .flatpickr-year > option {
  color: rgba(0, 0, 0, 0.8);
}

.flatpickr-input[readonly] {
  color: inherit;
}

.doc-header {
  text-align: center;
  margin-bottom: 1.5rem;
}
.doc-header h2 {
  margin-bottom: 0;
}
.doc-header small {
  font-size: 0.75rem;
  color: #666;
  display: block;
  margin-top: 0.5rem;
}

@media print {
  .modal-header,
  .popup-h .btn {
    display: none;
  }
}
.doc-h3 {
  position: relative;
  color: var(--bs-primary);
}
.doc-h3::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 17px;
  margin-right: 0.375rem;
  background-color: var(--bs-primary);
  border-radius: 1rem;
  transform: translateY(1px);
}

.fade-dot {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  width: 0;
  letter-spacing: 2px;
  margin-left: 2px;
  animation: fadeInOut 0.8s infinite forwards;
}

@keyframes fadeInOut {
  0% {
    width: 0;
  }
  100% {
    width: 20px;
  }
}
.label-group {
  display: flex;
  flex-wrap: wrap;
}
.label-group .label-item {
  width: 25%;
  display: flex;
  margin: 0.25rem 0;
}
.label-group .label-item .col-form-label {
  position: relative;
  white-space: nowrap;
  width: 100px;
  display: flex;
}
.label-group .label-item .col-form-label::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 0.375rem;
  background-color: var(--bs-primary);
  border-radius: 50%;
}
.label-group .label-item .col-form-label::after {
  content: ":";
  margin-left: auto;
  margin-right: 0.5rem;
}

.max-w-form {
  max-width: 800px !important;
}

.form-check-label {
  display: inline-flex;
  gap: 0.25rem;
}

.white-space-nowrap {
  white-space: nowrap;
}

.tab-panel {
  display: none;
  padding: 0.5rem 0;
}
.tab-panel.active {
  display: block;
}

.tab-table {
  width: 100%;
  background-position-y: bottom;
  background-image: url("../images/tab_bg.png");
}

.tab-table > tbody > tr > td {
  width: 60px;
}

.tab-table > tbody > tr > td:last-child {
  width: auto;
}

.tab-bg {
  padding: 0 0.75rem;
  background-position-y: bottom;
  background-image: url("../images/tab_bg.png");
}

.tab-bg-active {
  font-weight: 700;
  padding: 0 0.75rem;
  background-position-y: bottom;
  background-image: url("../images/tab_bg_active.png");
}

.schedule .schedule-header {
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--bs-tertiary-bg);
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}
.schedule .schedule-header .schedule-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.schedule .schedule-header .schedule-date .schd-year {
  font-size: 1.25rem;
  color: var(--bs-primary);
  font-weight: 700;
  line-height: 1;
}
.schedule .schedule-header .schedule-date .schd-month-wrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.schedule .schedule-header .schedule-date .schd-month-wrap > span {
  font-size: 1rem;
}
.schedule .schedule-header .schedule-date .schd-month-wrap .btn-icon {
  margin-bottom: -0.5rem;
}
.schedule .schedule-header .schedule-date .schd-month {
  font-size: 4rem;
  color: var(--bs-primary);
  line-height: 1;
}

.schedule-add {
  margin-left: auto;
}
.schedule-add .tit {
  font-size: 0.875rem;
  color: var(--bs-primary);
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.schedule-add .tit::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 0.25rem;
  background-color: var(--bs-primary);
  border-radius: 50%;
}

.table-calendar {
  border-top-color: #77b337;
}
.table-calendar > thead > * > * {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-color: #77b337 !important;
  border-bottom: 1px solid #77b337 !important;
  background-color: var(--bs-primary) !important;
}
.table-calendar > tbody > * > * {
  text-align: left !important;
  vertical-align: top;
  height: 100px;
}
.table-calendar > tbody > * > *:nth-of-type(1) {
  color: red;
}
.table-calendar > tbody > * > *:nth-of-type(7) {
  color: green;
}

.mail-msg {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.mail-msg .ico {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem;
  background-color: var(--bs-tertiary-bg);
  border-radius: 50%;
}
.mail-msg .ico [class^=ri-] {
  font-size: 3.5rem;
  color: var(--bs-primary);
}
.mail-msg .text {
  font-size: 1.25rem;
  color: var(--bs-primary);
}

.page-chevron {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.chars {
  display: flex;
}
.chars .chars-list {
  flex: 1 1 0;
}
.chars .chars-list .table-chars-list {
  height: 537px;
  overflow-y: auto;
}
.chars .table {
  border-spacing: 0;
  border-collapse: separate;
  border-top: 0;
}
.chars .table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.chars .table thead > tr > th {
  height: 24px;
  border-bottom: 0;
}

/* ---------------------------------------------------------------------- */
/*  Loader
/* ---------------------------------------------------------------------- */
.modal-loader {
  pointer-events: none;
}
.modal-loader .modal-content {
  background-color: rgba(0, 0, 0, 0.2);
}
.modal-loader .modal-content .btn-close {
  position: relative;
  z-index: 2;
}
.modal-loader .modal-content .modal-body {
  padding-top: 0;
  margin-top: -1rem;
}
.modal-loader .loading-text {
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
}
.modal-loader .loading-bar {
  position: relative;
  display: flex;
  width: 100%;
  height: 18px;
  background-color: #e9ecef;
  border: 2px solid #fff;
  border-radius: 3rem;
}
.modal-loader .loading-bar .loading-primary {
  width: 0%;
  background-color: #85c441;
  background-image: linear-gradient(to bottom, #a5f152 0%, #5f912a 100%);
  background-size: 16px;
  border-radius: 3rem;
  animation: progressBar 1s linear infinite;
}

.loader {
  position: fixed;
  z-index: 999999;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 240px;
  padding: 20px;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}
.loader .progressbar-text {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
}

.progressbar {
  position: relative;
  display: flex;
  width: 100%;
  height: 18px;
  background-color: #e9ecef;
  border: 2px solid #fff;
  border-radius: 3rem;
}
.progressbar .progressbar-primary {
  width: 0%;
  background-color: #85c441;
  background-image: linear-gradient(to bottom, #a5f152 0%, #5f912a 100%);
  background-size: 16px;
  border-radius: 3rem;
  animation: progressBar 1s linear infinite;
}

@keyframes progressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/*# sourceMappingURL=custom.css.map */
